bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.DesignPatterns/.idea/workspace.xml
.idea/.idea.DesignPatterns/.idea/indexLayout.xml
.idea/.idea.DesignPatterns/.idea/vcs.xml
.idea/.idea.DesignPatterns/.idea/.gitignore
.idea/.idea.DesignPatterns/.idea/.name
